.buttondouble {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3vh;
}

.buttondouble .btns{
    display: flex;
    width: 90%;
    gap: 1rem;

}

.buttondouble button {
    width: 90%;
    background-color: #1D78EC;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.9rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

.buttondouble .back{
    color: #1D78EC;
    background-color: #DEE9F9 ;
}