.buttonsingle{
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 3vh;
}
.buttonsingle button{
    width: 90%;
    background-color: #1D78EC;
    color: white;
    font: normal normal normal 13px/13px Excon;
    letter-spacing: 0px;
    padding: 0.9rem 1rem;
    border: none;
    border-radius: 0.5rem;
}