* {
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
.food-top {
  height: 45vh;
  background-image: url("/src/assets/Food_Bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.electricity-top {
  height: 45vh;
  background-image: url("/src/assets/electricity_Bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.white-screen {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 4vh;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
}
.loader {
  border-radius: 50px;
  width: 70px;
  height: 70px;
  background-color: white;
  /* margin-top: -7%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.subloader {
  background-color: #fff4e4;
  border-radius: 50px;
  padding: 22%;
}
.carbon-value {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: 550;
  font-size: 17px;
}
.food-bottom {
  width: 100%;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.food-ques {
  font-weight: 550;
  display: flex;
  justify-content: center;
  height: 6vh;
  align-items: end;
  /* background-color: #FEA062; */
  font-size: 18px;
}
.food-products {
    margin-top: 3%;
  height: 70%;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.food-items {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #e4ffee;
  
  height: 16vh;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-radius: 8px;
  text-align: center;
}
.food-items:nth-child(2) {
  /* background-color: #fff4e6; */
}
.food-items {
  cursor: pointer;
  transition: border 0.3s;
  border: 2px solid transparent;
}
.food-items.selected {
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
.rotation-value{
  color: #FEA062;
  font-size: 14px;
  font-weight: 550;

}

/* styles.css */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as necessary */
  background-color: white; /* Adjust as necessary */
  padding: 2%;
}

.custom-progressbar {
  position: relative;
}

.rotation-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px; /* Adjust as necessary */
  color: #FEA062; /* Match pathColor */
}

@media (min-width: 600px) {
  .food-items{
    width: 7.3vw; 
  }
  .food-items:nth-child(3) {
    /* background-color: #fff4f3; */
    
    grid-column: span 1.8;
    margin-left: 100%;
    justify-self: center;
  }
}
@media (max-width: 600px) {
  .food-items:nth-child(3) {    
    /* grid-column: span 1.8; */
    margin-left: 50%;
    width: 26vw;
    /* justify-self: center; */
  }
}