.vehiclemaincontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid #E8F2FF;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.vehiclemaincontainer .topbar {
    /* width: 100%; */
    top: 0;
    right: 0;
    /* background: url('../../assets/background1.png'); */
    /* height: 369px; */
    height: 44.3vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* width: 375px; */
    /* height: 325px; */
}

.vehiclemaincontainer .topbar .topbarcontent h1 {
    font-size: 1rem;
    font-weight: 900;
}

.vehiclemaincontainer .topbar .topbarcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    font-size: 1rem;
    font-weight: 900;
    gap: 0.4rem;
}

.vehiclemaincontainer .topbar svg {
    width: 1.2rem;
    fill: #DF2929;
}

.vehiclemaincontainer .bottombar {
    background-color: #ffffff;
    border-radius: 28px 28px 0rem 0rem;
    position: absolute;
    bottom: 0vh;
    width:100%;
    /* height: 390px; */
    height:58.5vh;
   /* width: 100%; */
    /* display: none; */
}

.vehiclemaincontainer .bottombar .numberrolling .progress {
    font-weight: 900;

}

.vehiclemaincontainer .bottombar .numberrolling {
    position: absolute;
    top: -40px;
    right: 41%;
    background-color: #ffffff;
    border-radius: 50%;
    padding:12px;
}

.vehiclemaincontainer .bottombar .content {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    width: 100%;
}

.vehiclemaincontainer .bottombar .content {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1rem 0rem;
}

.vehiclemaincontainer .bottombar .options .element-bike- {
    /* border: 1px solid  #FFC478; */
    background-color: #FFF4E6;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-bike {
    border: 2px solid #FFBA63;
    background-color:#FFF4E6;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-cycle- {
    /* border: 1px solid #EEF6FF; */
    background-color: #EEF6FF;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-cycle {
    border: 2px solid #a2cdff;
    background-color: #EEF6FF;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-car- {
    /* border: 1px solid #EE928A; */
    background-color: #FFF4F3;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-car {
    border: 2px solid #EB7E74;
    background-color: #FFF4F3;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-gas- {
    /* border: 1px solid #EE928A; */
    background-color: #FFF4F3;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-gas {
    border: 2px solid #EB7E74;
    background-color: #FFF4F3;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-electric- {
    /* border: 1px solid #FFC478; */
    background-color: #FFF4E6;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options .element-electric {
    border: 2px solid #FFC478;
    background-color: #FFF4E6;
    height: 110px;
    width: 115px;
    gap: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.vehiclemaincontainer .bottombar .options img {
    width: 2.5rem;
}

.vehiclemaincontainer .bottombar .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap:24px;

}